################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/git.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/git.slnx/v18
/.vs/VSWorkspaceState.json
